.select-category {
  width: 120px;
  height: 30px;
  margin: 10px;
  padding-left: 12px;
  padding-right: 50px;
  border-radius: 4px;
  border: 1px solid rgb(217, 217, 217);
  font-size: 12px;
  appearance: none;
  background: url(https://static.thenounproject.com/png/551749-200.png) 90% / 10% no-repeat #EEE;
  background-color: white;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}